$header-height:50px;
$left-sidebar:200px;
$right-sidebar:300px;
$border-color:rgba(0,0,0,0.05);
$primary-color:#009688;
$danger-color:#D32F2F;
$body-color:#212121;
$left-sidebar-width: 200px;
$right-sidebar-width: 300px;
