//@import "~bootstrap/dist/css/bootstrap.css";
@import "_variable";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  color: $body-color;
  //font-size: 13px;
  font-family: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.root {
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: row;
  height: 100%;

  .sidebar-left {
    flex-shrink: 2;
    flex-grow: 1;
    border-right: 10px solid $border-color;
  }

  .content {
    flex-grow: 4;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    .container {
        padding: 10px;
      .row {
        display: flex;
        flex-direction: row;
      }
      .form-group {
        padding: 10px;
      }
    }

    // .actions {
    //   button.send {
    //     background: $primary-color;
    //     color: #fff;
    //     border: 0 none;
    //     padding: 8px 12px;
    //     line-height: 50px;
    //   }
    //}
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

